section.me_msg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); }
  section.me_msg .content {
    width: 90vw;
    max-width: 800px;
    height: 80vh;
    position: absolute;
    top: 18vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden; }
    section.me_msg .content .top {
      width: 100%;
      color: #eee;
      background-color: #B2DAED;
      text-align: center;
      padding: 20px;
      box-sizing: border-box; }
      section.me_msg .content .top .title {
        color: #857474; }
      section.me_msg .content .top #close {
        float: right;
        cursor: pointer;
        font-size: 20px;
        line-height: 15px; }
    section.me_msg .content .scope > div {
      border: 1px solid #ccc;
      box-sizing: border-box;
      float: left; }
    section.me_msg .content .scope .friends {
      width: 30%;
      height: 60vh;
      overflow-y: scroll; }
      section.me_msg .content .scope .friends > div {
        width: 100%;
        padding: 10px;
        box-sizing: border-box; }
      section.me_msg .content .scope .friends .searchBar {
        position: relative; }
        section.me_msg .content .scope .friends .searchBar .search {
          border: 0;
          padding: 7.5px;
          font-size: 15px;
          border-radius: 10px;
          outline: 0;
          background-color: #E0F0F8; }
        section.me_msg .content .scope .friends .searchBar .gosearch {
          position: absolute;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 40px;
          height: 40px;
          color: #fff;
          background-color: #66DBFF;
          border-radius: 50%;
          text-align: center;
          font-size: 20px;
          line-height: 40px;
          cursor: pointer; }
      section.me_msg .content .scope .friends .friendList span {
        margin: 0 8%; }
    section.me_msg .content .scope .chatroom {
      width: 70%;
      height: 60vh;
      text-align: right; }
      section.me_msg .content .scope .chatroom #fname {
        border: 0;
        border-radius: 15px;
        margin: 10px;
        box-sizing: border-box;
        text-align: left;
        padding: 10px; }
        section.me_msg .content .scope .chatroom #fname .fa {
          color: #666;
          margin-left: 10px; }
      section.me_msg .content .scope .chatroom span {
        padding: 15px;
        background-color: #E0F0F8;
        display: inline-block;
        margin: 7.5px;
        border-radius: 5px; }
    section.me_msg .content .scope .new {
      width: 30%;
      height: 20vh;
      overflow-y: scroll; }
      section.me_msg .content .scope .new > div {
        width: 100%;
        padding: 10px;
        box-sizing: border-box; }
      section.me_msg .content .scope .new span {
        margin: 0 8%; }
      section.me_msg .content .scope .new .addfriend {
        vertical-align: middle;
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        outline: 0;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        color: #fff;
        background-color: #B2DAED;
        cursor: pointer; }
    section.me_msg .content .scope .msg {
      width: 70%;
      height: 20vh; }
      section.me_msg .content .scope .msg textarea {
        width: 100%;
        height: 7.5vh;
        resize: none;
        border: 0;
        color: #666;
        font-size: 15px;
        box-sizing: border-box;
        padding: 10px; }
        section.me_msg .content .scope .msg textarea:focus {
          outline: 0; }
      section.me_msg .content .scope .msg .sendmsg {
        float: right;
        height: 30px;
        font-size: 15px;
        padding: 10px 20px;
        margin-right: 3%;
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-block;
        border-radius: 15px;
        box-sizing: border-box;
        outline: 0;
        text-align: center;
        color: #fff;
        background-color: #66DBFF;
        cursor: pointer; }
    section.me_msg .content .scope .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      box-sizing: border-box;
      overflow: hidden;
      vertical-align: middle;
      display: inline-block; }
      section.me_msg .content .scope .avatar img {
        width: 100%;
        position: relative;
        top: -40%; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #EBF2F7; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #DEEEFA; }
