header {
  background-color: #666767;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 100; }
  header > ul {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #66DBFF;
    width: 250px;
    height: 100%; }
    header > ul li {
      padding: 20% 0; }
      header > ul li a {
        color: #FFF;
        padding: 20%; }
  header nav {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    color: #FFF;
    background-color: #666767;
    padding: 25px 0 10px 0;
    display: inline-block;
    position: relative; }
    header nav .hamburger {
      display: none; }
    header nav ul {
      font-size: 18px;
      display: inline-block;
      position: relative;
      right: 42px; }
      header nav ul li {
        vertical-align: middle;
        display: inline-block; }
        header nav ul li a {
          color: #FFF;
          display: inline-block;
          width: 80px;
          padding: 5%; }
    header nav .logo {
      display: inline-block;
      width: 67px;
      margin: 0 2.5%;
      position: relative;
      right: 42px; }
      header nav .logo img {
        vertical-align: middle;
        width: 100%; }
    header nav .member {
      position: absolute;
      right: 7%;
      top: 20%;
      margin-top: -5px;
      display: inline-block;
      padding: 0 2%; }
      header nav .member a {
        color: #FFF; }
      header nav .member img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        vertical-align: middle; }
      header nav .member span {
        font-size: 14px; }
    header nav .cart {
      position: absolute;
      right: 4%;
      top: 20%;
      display: inline-block;
      width: 30px; }
      header nav .cart img {
        width: 100%;
        vertical-align: middle; }
    header nav:before {
      content: '';
      display: block;
      width: 140px;
      height: 40px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: #666767;
      z-index: 100;
      clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 100% 100%, 100% 0); }
  header:after {
    content: " ";
    display: block;
    position: absolute;
    background: linear-gradient(-135deg, #666767 6px, transparent 0), linear-gradient(135deg, #666767 6px, transparent 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 12px 12px;
    bottom: -11px;
    left: 0px;
    width: 100%;
    height: 11px; }

.headerb {
  height: 140px;
  background-color: transparent; }

@media screen and (max-width: 767px) {
  header > ul {
    display: initial; }
  header nav {
    padding: 12px 0; }
    header nav ul {
      display: none; }
    header nav .logo {
      right: 0; }
    header nav .hamburger {
      position: absolute;
      left: 5%;
      display: inline-block;
      width: 50px;
      height: 50px;
      cursor: pointer; }
      header nav .hamburger:before {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 5px;
        background-color: #ccc;
        top: 25px;
        left: 5px;
        box-shadow: 0px 12px 0px #ccc, 0px -12px 0px #ccc;
        border-radius: 12px; }
    header nav .member {
      margin-top: 5px; }
    header nav .cart {
      position: fixed;
      top: 30%;
      background-color: #666767;
      padding: 1.5%;
      border-radius: 50%; } }
footer {
  width: 100%;
  text-align: center;
  color: #FFF;
  background-color: #4D4D4D;
  font-size: 14px;
  padding: 20px 0; }

.bread {
  padding: 1% 5%;
  font-size: 15px; }
  .bread a {
    padding: 0.3%;
    color: #8A7676;
    text-decoration: none; }
    .bread a:hover {
      text-decoration: underline; }

.gotop {
  width: 56px;
  position: fixed;
  right: 2%;
  bottom: 10%;
  cursor: pointer; }
  .gotop img {
    width: 100%; }

@media screen and (max-width: 767px) {
  .gotop {
    display: none; } }
body {
  left: 0;
  overflow-x: hidden;
  position: relative;
  color: #666; }

a {
  text-decoration: none; }
