@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
body {
  font-family: arial, 'cwTeXHei';
  color: #666; }

header {
  background-color: #666767;
  width: 100%;
  position: relative; }
  header .container {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1280px;
    text-align: center;
    color: #FFF;
    background-color: #666767; }
    header .container nav {
      position: relative;
      left: -0.8%;
      padding: 25px 0 12px 0;
      display: inline-block; }
      header .container nav ul {
        font-size: 18px;
        display: inline-block; }
        header .container nav ul li {
          vertical-align: middle;
          display: inline-block;
          margin: 0 25px; }
      header .container nav .logo {
        display: inline-block;
        width: 67px;
        margin: 0 25px; }
        header .container nav .logo img {
          vertical-align: middle;
          width: 100%; }
    header .container .member {
      padding-top: 15px;
      vertical-align: top;
      display: inline-block; }
      header .container .member img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        vertical-align: middle; }
      header .container .member span {
        font-size: 14px; }
    header .container .cart {
      padding-top: 15px;
      vertical-align: top;
      display: inline-block;
      width: 25px; }
      header .container .cart img {
        width: 100%;
        vertical-align: middle; }
    header .container:before {
      content: '';
      display: block;
      width: 140px;
      height: 40px;
      position: absolute;
      top: 90%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: #666767;
      z-index: 100;
      clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 100% 100%, 100% 0); }
  header:after {
    content: " ";
    display: block;
    position: absolute;
    background: linear-gradient(-45deg, #ffffff 6px, transparent 0), linear-gradient(45deg, #ffffff 6px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 12px 12px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 12px; }

footer {
  width: 100%;
  text-align: center;
  color: #FFF;
  background-color: #4D4D4D;
  font-size: 14px;
  padding: 20px 0; }

.gotop {
  width: 56px;
  position: fixed;
  right: 2%;
  bottom: 10%;
  cursor: pointer; }
  .gotop img {
    width: 100%; }
