  section.me_msg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    .content {
      width: 90vw;
      max-width: 800px;
      height: 80vh;
      position: absolute;
      top: 18vh;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      .top {
        width: 100%;
        color: #eee;
        background-color: #B2DAED;
        text-align: center;
        padding: 17px 20px;
        box-sizing: border-box;
        .title {
          color: #857474;
        }
        #close {
          float: right;
          cursor: pointer;
          font-size: 20px;
          line-height: 15px;
        }
      }
      .scope {
        &>div {
          box-sizing: border-box;
          float: left;
        }
        .friends {
          width: 30%;
          height: 55vh;
          overflow-y: auto;
          &>div {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
          }
          .searchBar {
            position: relative;
            .search {
              width: 90%;
              border: 0;
              padding: 7.5px;
              font-size: 15px;
              border-radius: 10px;
              outline: 0;
              background-color: #E0F0F8;
              color: #666;
            }
            .gosearch {
              position: absolute;
              right: 1%;
              top: 0;
              bottom: 0;
              margin: auto 0;
              width: 40px;
              height: 40px;
              color: #fff;
              background-color: #66DBFF;
              border-radius: 50%;
              text-align: center;
              font-size: 20px;
              line-height: 40px;
              cursor: pointer;
            }
          }
          .friendList {
            span {
              margin: 0 8%;
            }
            &:nth-child(2) {
              .avatar {
                position: relative;
                img {
                  position: absolute;
                  width: 85%;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  margin: auto;
                }
              }
            }
            &:nth-child(odd) {
              .avatar {
                border: 2px solid #ff95be;
              }
            }
            &:nth-child(even) {
              .avatar {
                border: 2px solid #70c8e9;
              }
            }
          }
        }
        @media screen and (max-width: 767px) {
          .friends {
            width: 100%;
          }
        }
        .chatroom {
          width: 70%;
          height: 60vh;
          text-align: left;
          position: relative;
          border-left: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          #fname {
            border: 0;
            border-radius: 15px;
            margin: 10px;
            box-sizing: border-box;
            text-align: left;
            padding: 10px;
            text-align: right;
            .fa {
              color: #666;
              margin: 0 3%;
            }
            .fa-arrow-left{
              position: absolute;
              left: 3%;
              cursor: pointer;
            }
          }
          .sendmsg {
            padding: 12.5px;
            background-color: #E0F0F8;
            display: inline-block;
            margin: 7.5px;
            border-radius: 5px;
          }
          .sendtime {
            font-size: 11px;
            margin: 0 10px;
          }
        }
        @media screen and (max-width: 767px) {
          .chatroom {
            width: 100%;
            display: none;
          }
        }
        .new {
          width: 30%;
          height: 25vh;
          position: relative;
          top: -5vh;
          overflow-y: auto;
          span {
            margin: 0 8%;
          }
          .newfriend {
            background-color: #ffc7a3;
            border-radius: 10px;
            width: 80%;
            text-align: center;
            padding: 3%;
            box-sizing: border-box;
            margin: 2% auto 2%;
          }
          .friendList {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            &:nth-child(odd) {
              .avatar {
                border: 2px solid #ff95be;
              }
            }
            &:nth-child(even) {
              .avatar {
                border: 2px solid #70c8e9;
              }
            }
          }
          .addfriend {
            vertical-align: middle;
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-sizing: border-box;
            outline: 0;
            text-align: center;
            line-height: 40px;
            font-size: 30px;
            color: #fff;
            background-color: #B2DAED;
            cursor: pointer;
          }
        }
        @media screen and (max-width: 767px) {
          .new {
            width: 100%;
          }
        }
        .msg {
          width: 70%;
          height: 20vh;
          border-left: 1px solid #ccc;
          textarea {
            width: 100%;
            height: 6vh;
            resize: none;
            border: 0;
            color: #666;
            font-size: 15px;
            box-sizing: border-box;
            padding: 5px 10px;
            &:focus {
              outline: 0;
            }
          }
          .sendmsg {
            float: right;
            height: 30px;
            font-size: 15px;
            padding: 10px 20px;
            margin-right: 3%;
            box-sizing: border-box;
            vertical-align: middle;
            display: inline-block;
            border-radius: 15px;
            box-sizing: border-box;
            outline: 0;
            text-align: center;
            color: #fff;
            background-color: #66DBFF;
            cursor: pointer;
          }
        }
        @media screen and (max-width: 767px) {
          .msg {
            width: 100%;
            display: none;
          }
        }
        .avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          box-sizing: border-box;
          overflow: hidden;
          vertical-align: middle;
          display: inline-block;
          img {
            width: 100%;
            position: relative;
            top: -40%;
          }
        }
      }
    }
  }

   ::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

   ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #EBF2F7;
  }

   ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
    background-color: #DEEEFA;
  }