.gotop {
   width: 56px;
   position: fixed;
   right: 2%;
   bottom: 10%;
   cursor: pointer;
   img {
      width: 100%;
   }
}

@media screen and (max-width: 767px) {
   .gotop {
      display: none;
   }
}