header {
   background-color: #666767;
   width: 100%;
   position: fixed;
   top: 0;
   text-align: center;
   z-index: 100;
   &>ul {
      display: none;
      z-index: 100;
      position: fixed;
      top: 0;
      left: -250px;
      background-color: #66DBFF;
      width: 250px;
      height: 100%;
      li {
         padding: 20% 0;
         a {
            color: #FFF;
            padding: 20%;
         }
      }
   }
   nav {
      width: 100%;
      max-width: 1280px;
      margin: auto;
      color: #FFF;
      background-color: #666767;
      padding: 25px 0 10px 0;
      display: inline-block;
      position: relative;
      .hamburger {
         display: none;
      }
      ul {
         font-size: 18px;
         display: inline-block;
         position: relative;
         right: 42px;
         li {
            vertical-align: middle;
            display: inline-block;
            a {
               color: #FFF;
               display: inline-block;
               width: 80px;
               padding: 5%;
            }
         }
      }
      .logo {
         display: inline-block;
         width: 67px;
         margin: 0 2.5%;
         position: relative;
         right: 42px;
         img {
            vertical-align: middle;
            width: 100%;
         }
      }
      .member {
         position: absolute;
         right: 7%;
         margin-top: -5px;
         display: inline-block;
         padding: 0 2%;
         a {
            color: #FFF;
         }
         img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            vertical-align: middle;
         }
         span {
            font-size: 14px;
         }
      }
      .cart {
         position: absolute;
         right: 4%;
         vertical-align: top;
         display: inline-block;
         width: 30px;
         img {
            width: 100%;
            vertical-align: middle;
         }
      }
      @mixin centerTie {
         content: '';
         display: block;
         width: 140px;
         height: 40px;
         position: absolute;
         top: 100%;
         left: 0;
         right: 0;
         margin: 0 auto;
         background-color: #666767;
         z-index: 100;
         clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 100% 100%, 100% 0);
      }
      &:before {
         @include centerTie;
      }
   }
   @mixin zigzag {
      content: " ";
      display: block;
      position: absolute;
      background: linear-gradient(-135deg, #666767 6px, transparent 0), linear-gradient(135deg, #666767 6px, transparent 0);
      background-position: left bottom;
      background-repeat: repeat-x;
      background-size: 12px 12px;
      bottom: -11px;
      left: 0px;
      width: 100%;
      height: 11px;
   }
   &:after {
      @include zigzag;
   }
}

.headerb {
   height: 140px;
   background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 767px) {
   header {
      &>ul {
         display: initial;
      }
      nav {
         padding: 12px 0;
         ul {
            display: none;
         }
         .logo {
            right: 0;
         }
         .hamburger {
            position: absolute;
            left: 5%;
            display: inline-block;
            width: 50px;
            height: 50px;
            cursor: pointer;
            &:before {
               content: '';
               position: absolute;
               display: block;
               width: 40px;
               height: 5px;
               background-color: #ccc;
               top: 25px;
               left: 5px;
               box-shadow: 0px 12px 0px #ccc, 0px -12px 0px #ccc;
               border-radius: 12px;
            }
         }
         .member {
            margin-top: 5px;
         }
         .cart {
            position: fixed;
            top: 30%;
            background-color: #666767;
            padding: 1.5%;
            border-radius: 50%;
         }
      }
   }
}