header {
   background-color: #666767;
   width: 100%;
   position: fixed;
   top: 0;
   text-align: center;
   z-index: 10;
   .hbmenu {
      display: none;
      z-index: 10;
      position: fixed;
      top: 0;
      left: -250px;
      background-color: #66DBFF;
      width: 250px;
      height: 100%;
      text-align: left;
      li {
         width: 100%;
         img {
            padding: 0 20px 0 40px;
            vertical-align: middle;
         }
         a {
            display: block;
            width: 100%;
            color: #FFF;
            padding: 6% 0;
            font-size: 20px;
         }
      }
      .hb_close {
         padding: 4% 0;
         margin: 25px 0 15px;
         cursor: pointer;
         &:before {
            content: "";
            display: block;
            width: 40px;
            height: 5px;
            border-radius: 5px;
            background-color: #fff;
            transform: rotateZ(45deg);
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
         }
         &:after {
            content: "";
            display: block;
            width: 40px;
            height: 5px;
            border-radius: 5px;
            background-color: #fff;
            transform: rotateZ(-45deg);
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
         }
      }
   }
   nav {
      width: 100%;
      max-width: 1280px;
      margin: auto;
      color: #FFF;
      background-color: #666767;
      padding-top: 14px;
      display: inline-block;
      position: relative;
      .hamburger {
         display: none;
      }
      ul {
         font-size: 18px;
         display: inline-block;
         position: relative;
         right: 42px;
         li {
            vertical-align: middle;
            display: inline-block;
            a {
               color: #FFF;
               display: inline-block;
               width: 80px;
               padding: 5%;
            }
         }
      }
      .logo {
         display: inline-block;
         width: 67px;
         margin: 0 2.5%;
         position: relative;
         top: -5px;
         right: 42px;
         img {
            vertical-align: middle;
            width: 100%;
         }
      }
      .member {
         position: absolute;
         right: 7%;
         top: 15%;
         display: inline-block;
         padding: 12px 3%;
         a {
            color: #FFF;
            margin: 10px;
         }
         img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            vertical-align: middle;
         }
         #login {
            display: inline-block;
            cursor: pointer;
            a {
               color: #FFF;
            }
            img {
               width: 40px;
               height: 40px;
               border-radius: 50%;
               vertical-align: middle;
            }
            span {
               font-size: 14px;
            }
         }
      }
      .head_cart {
         position: absolute;
         right: 4%;
         top: 15%;
         display: inline-block;
         width: 30px;
         padding: 17px 1%;
         img {
            width: 100%;
            vertical-align: middle;
            cursor: pointer;
         }
         @media screen and (max-width: 767px) {
            .head_cartlist {
               // display: none !important;
            }
         }
         .head_cartlist {
            // display: none;
            width: 200px;
            font-size: 12px;
            position: absolute;
            right: 0;
            top: 100%;
            border-radius: 10px;
            background-color: #fff;
            box-sizing: border-box;
            padding: 10px;
            z-index: 20;
            color: #666;
            .cartlist {
               width: 100%;
               box-sizing: border-box;
               padding: 10px;
               margin-bottom: 10px;
               border-bottom: 1px solid #ccc;
               .prodpic {
                  display: inline-block;
                  width: 50%;
                  background-color: #FFDDEA;
                  padding: 10px 0;
                  float: left;
                  border-radius: 10px;
                  img {
                     width: 100%;
                  }
               }
               div + div{
                  display: inline-block;
                  width: 45%;
                  padding-left: 5%;
                  padding-top: 1%;
               }
               .prodname,
               .prodprice,
               .isgift {
                  display: inline-block;
                  text-align: left;
                  padding: 4% 0;
                  width: 100%;
               }
               &::after {
                  content: '';
                  display: block;
                  clear: both;
               }
            }
            .gocart {
               margin: 5px auto 0;
               width: 75%; // padding: 7px 0;
               box-sizing: border-box;
               border-radius: 20px;
               background-color: #66DBFF;
               a {
                  display: block;
                  padding: 7px 0;
                  font-size: 15px;
                  color: #fff;
               }
            }
         }
      }
      @mixin centerTie {
         content: '';
         display: block;
         width: 140px;
         height: 40px;
         position: absolute;
         top: 100%;
         left: 0;
         right: 0;
         margin: 0 auto;
         background-color: #666767;
         z-index: 5;
         clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 100% 100%, 100% 0);
      }
      &:before {
         @include centerTie;
      }
   }
   @mixin zigzag {
      content: " ";
      display: block;
      position: absolute;
      background: linear-gradient(-135deg, #666767 6px, transparent 0), linear-gradient(135deg, #666767 6px, transparent 0);
      background-position: left bottom;
      background-repeat: repeat-x;
      background-size: 12px 12px;
      bottom: -11px;
      left: 0px;
      width: 100%;
      height: 12px;
   }
   &:after {
      @include zigzag;
   }
   .loginbox {
      display: none;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 100;
      .login_content {
         width: 98%;
         max-width: 500px;
         height: 80%;
         max-height: 375px;
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         margin: auto;
         background-color: #fff;
         border-radius: 10px;
         overflow: hidden;
         .login_top {
            width: 100%;
            height: 50px;
            font-size: 20px;
            color: #eee;
            background-color: #B2DAED;
            text-align: center;
            box-sizing: border-box;
            .login_title {
               color: #857474;
               line-height: 50px;
            }
            #login_close {
               cursor: pointer;
               &:before {
                  content: "";
                  display: block;
                  width: 30px;
                  height: 5px;
                  border-radius: 5px;
                  background-color: #fff;
                  transform: rotateZ(45deg);
                  position: absolute;
                  right: 20px;
                  top: 22px;
               }
               &:after {
                  content: "";
                  display: block;
                  width: 30px;
                  height: 5px;
                  border-radius: 5px;
                  background-color: #fff;
                  transform: rotateZ(-45deg);
                  position: absolute;
                  right: 20px;
                  top: 22px;
               }
            }
         }
         .login_scope {
            height: 100%;
            padding-top: 5%;
            color: #666;
            &>span {
               font-size: 18px;
            }
            &>div {
               padding: 30px 0;
            }
            #memId,
            #memPsw {
               width: 50%;
               border: 0;
               padding: 10px;
               margin: 10px;
               font-size: 15px;
               border-radius: 10px;
               outline: 0;
               background-color: #E0F0F8;
               color: #666;
            }
            .gologin {
               font-size: 15px;
               padding: 7.5px 30px;
               margin: 10px 0 -7.5px;
               border-radius: 30px;
               background-color: #66DBFF;
               color: #fff;
               border: 0;
               cursor: pointer;
            }
         }
         .goregister {
            display: block;
            .reg {
               font-size: 15px;
               padding: 7.5px 30px;
               border-radius: 30px;
               background-color: #66DBFF;
               color: #fff;
            }
         }
      }
   }
}

.headerb {
   height: 135px;
   background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 767px) {
   header {
      .hbmenu {
         display: initial;
      }
      nav {
         ul {
            display: none;
         }
         .logo {
            width: 40px;
            right: 0;
         }
         .hamburger {
            position: absolute;
            left: 5%;
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 5px 2%;
            cursor: pointer;
            &:before {
               content: '';
               position: absolute;
               display: block;
               width: 35px;
               height: 4px;
               top: 12.5px;
               background-color: #ccc;
               box-shadow: 0px 10px 0px #ccc, 0px -10px 0px #ccc;
               border-radius: 12px;
            }
         }
         .member {
            top: 0;
            padding: 7.5px 0;
            right: 4%;
         }
         .head_cart {
            display: none;
            position: fixed;
            top: 30%;
            background-color: #666767;
            padding: 1.5%;
            border-radius: 50%;
         }
         &:before {
            display: none;
         }
      }
   }
   .headerb {
      height: 80px;
   }
}